<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Cup Bracket</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    />
</head>

<body class="bracket-page">

    <nav>
        <div class="logo">World Cup Predictor</div>

        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('match_predictor') }}">Match Predictor</a></li>
            <li><a href="{{ url_for('wc_predictor') }}">World Cup Predictor</a></li>
        </ul>
    </nav>

    <section class="hero bracket-hero">
    <div class="overlay"></div>

    <div class="hero-content bracket-content">

        <h1>FIFA World Cup 2026 Predictor</h1>

        {% set r32 = knockout_stage[0]["Round of 32"] %}
        {% set r16 = knockout_stage[1]["Round of 16"] %}
        {% set qf = knockout_stage[2]["Quarter-final"] %}
        {% set sf = knockout_stage[3]["Semi-final"] %}
        {% set final_match = knockout_stage[4]["Final"][0] %}
        {% set third_match = knockout_stage[5]["3rd Place Match"][0] %}
        {% set winner = knockout_stage[6]["Winner"] %}
        {% set third_place = knockout_stage[7]["3rd"] %}

        <p>
            Machine learning simulation of the entire FIFA World Cup.
        </p>

        <div class="bracket">

        <!-- LEFT SIDE -->
        <div class="side">

            <div class="round">
                <div class="round-title">Round of 32</div>
                {% for match in r32[:8] %}
                <div class="match">
                  <div class="team">
                    {{ match.get("team1", "TBD") }}
                </div>
                
                <div class="team">
                    {{ match.get("team2", "TBD") }}
                </div>
                </div>
                {% endfor %}
            </div>

            <div class="round">
                <div class="round-title">Round of 16</div>
                {% for match in r16[:4] %}
                <div class="match">
                    <div class="team">{{ match.get("team1", "TBD") }}</div>
                    <div class="team">{{ match.get("team2", "TBD") }}</div>
                </div>
                {% endfor %}
            </div>

            <div class="round">
                <div class="round-title">Quarter-finals</div>
                {% for match in qf[:2] %}
                <div class="match">
                    <div class="team">{{ match.get("team1", "TBD") }}</div>
                    <div class="team">{{ match.get("team2", "TBD") }}</div>
                </div>
                {% endfor %}
            </div>

            <div class="round">
                <div class="round-title">Semi-finals</div>

                {% if sf|length > 0 %}
                <div class="match">
                    <div class="team">{{ sf[0].get("team1", "TBD") }}</div>
                    <div class="team">{{ sf[0].get("team2", "TBD") }}</div>
                </div>
                {% endif %}
            </div>

        </div>

        <!-- CENTER -->
        <div class="center">

            <h2>Final</h2>

            <div class="match final">
                <div class="team">{{ final_match.get("team1", "TBD") }}</div>
                <div class="team">{{ final_match.get("team2", "TBD") }}</div>
            </div>

            <h2>Champion</h2>
            <div class="winner">
                {{ winner }}
            </div>

            <h3>Third Place Match</h3>

            <div class="match">
                <div class="team">{{ third_match.get("team1", "TBD") }}</div>
                <div class="team">{{ third_match.get("team2", "TBD") }}</div>
            </div>

            <h3>Third Place</h3>
            <div class="winner">
                {{ third_place }}
            </div>

        </div>

        <!-- RIGHT SIDE -->
        <div class="side">

            <div class="round">
                <div class="round-title">Semi-finals</div>

                {% if sf|length > 1 %}
                <div class="match">
                    <div class="team">{{ sf[1].get("team1", "TBD") }}</div>
                    <div class="team">{{ sf[1].get("team2", "TBD") }}</div>
                </div>
                {% endif %}
            </div>

            <div class="round">
                <div class="round-title">Quarter-finals</div>

                {% for match in qf[2:] %}
                <div class="match">
                    <div class="team">{{ match.get("team1", "TBD") }}</div>
                    <div class="team">{{ match.get("team2", "TBD") }}</div>
                </div>
                {% endfor %}
            </div>

            <div class="round">
                <div class="round-title">Round of 16</div>

                {% for match in r16[4:] %}
                <div class="match">
                    <div class="team">{{ match.get("team1", "TBD") }}</div>
                    <div class="team">{{ match.get("team2", "TBD") }}</div>
                </div>
                {% endfor %}
            </div>

            <div class="round">
                <div class="round-title">Round of 32</div>

                {% for match in r32[8:] %}
                <div class="match">
                  <div class="team">
                    {{ match.get("team1", "TBD") }}
                </div>
                
                <div class="team">
                    {{ match.get("team2", "TBD") }}
                </div>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>
</section>

</body>
</html>